* {
    /* border: darkgrey 0.5px groove; */
    /* padding: 2px; */
    margin: 0;
}

@media print{
    header, .block-advanced-options, .block-counter *{
      display: none !important;
    }

    #blocks-container {
        padding-top: 0  !important;
             /* habilitado si "header" posee position fixed */
    }

    .check, .checkall {
        color: hsla(0, 0%, 0%, 0) !important;
    }

}

/* @font-face {
    font-family: OpenSans-Bold;
    src: url('OpenSans-Bold.ttf');
} */

body {
    /* border: black solid 1px; */
    background-color: whitesmoke;
}

header {
    margin: 2px;
    margin-top: 0;
    padding: 0 1px;
    /* max-width: 79rem; */
    width: max-content;
    border: darkorchid solid 1px;
    border-radius: 5px;
    background-color: cornflowerblue;
    letter-spacing: -1em;
         /* Corrige el espaciado por defecto ocasionado por el inline-block */
    position: fixed;
         /* requiere que blocks-container tenga un padding-top: 112.5px; */
    top: 0px;
    margin-left:50%;
    left: -39.15em;
    z-index: 1;
    /* position: relative; */
}

.header-block {
    min-width: 39rem;
    /* border: red solid 1px; */
    display: inline-block;
    vertical-align: top;
         /* Corrige el desfase vertical de bloques inline-block */
    letter-spacing: normal;
         /* Restituye el efecto de la corrección del espaciado en el inline-block */
    /* margin-right: -4px; */
}

#welcome-container {
    display: inline-block;
    vertical-align: middle;
}

.header-block-users-welcome {
    width: 200px;
}

.header-block-users {
    width: 280px;
}

#header-buttons {
    display: inline-block;
    vertical-align: middle;
}

/* #header-welcome {
    vertical-align: middle;
} */

#schedule-selector {
    /* margin-left: 50px; */
    margin-bottom: 1px;
    padding-bottom: 1px;
    vertical-align: bottom;
    width: 155px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#add-schedule {
    /* position: relative;
    top: 10px; */
    height: 30px;
    vertical-align: top;
    /* border: 1px groove silver;
    border-radius: 5px; */
}

#add-schedule:active {
    position: relative;
    left: 1px;
}

#button-create {
    visibility: hidden;
}

/* #header-block-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */

#header-schedule-options-1 {
    border-color: chartreuse;
    display: flex;
    justify-content: space-between;
}

#options-header {
    /* display: inline-block; */
    vertical-align: top;
    border-color: red;
    width: 85%
}

#import-export-buttons {
    padding-left: 20px;
    padding-top: 10px;
    box-sizing: border-box;
}

#import-export-buttons-style {
    height: 30px;
    border-color: orchid;
}

#import-options {
    /* height: max-content; */
    display: inline-block;
    margin-top: 20px;
}

/* #import-container {
    width: min-content;
} */

#export-container {
    border-color: white;
}

#import-label, #load-file {
    padding: 3px 5px;
    box-sizing: border-box;
    border: 1px solid rgb(36, 35, 35);
    border-radius: 5px;
    /* background-color: rgb(187, 119, 250); */
    background-color: #4CAF50;
    /* color: rgb(36, 35, 35); */
    color: whitesmoke;
    user-select: none;
    /* cursor: default; */ /* a label don't require this property*/
}

#import-label:hover {
    /* border: 1px solid blueviolet; */
    box-shadow: 0px 0px 1px 1px silver;
    color: black;
}

#import-label:active {
    background: linear-gradient(to bottom right, darkgrey 0%, #4CAF50 100%);;
    padding-left: 6px;
    padding-right: 4px;
}

#import-selected-container {
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 3px;
    background-color: silver;
    cursor: default;
}

/* #import-selected-style {
    display: flex;
} */

#import-selected {
    display: inline-block;
    max-width: 17em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* border: 1px solid blueviolet; */
    /* border-color: blueviolet; */
    vertical-align: middle;
    padding: 2px;
    padding-bottom: 4px;
    font-weight: bold;
}

#import-selected:hover {
    cursor: default;
    /* font-weight: bold; */
}

#load-file {
    padding: 1px 3px;
}

#load-file:hover {
    /* border: 1px solid blueviolet; */
    box-shadow: 0px 0px 1px 1px rgb(112, 109, 109);
    color: black;
}

#load-file:active {
    background: linear-gradient(to bottom right, darkgrey 0%, #4CAF50 100%);;
    padding-left: 4px;
    padding-right: 2px;
}

.button-darkgray {
    padding: 3px 5px;
    box-sizing: border-box;
    border: 1px solid rgb(36, 35, 35);
    border-radius: 5px;
    /* background-color: rgb(187, 119, 250); */
    background-color: #616d62;
    /* color: rgb(36, 35, 35); */
    color: rgb(223, 217, 217);
    user-select: none;
    cursor: default;
}

.button-darkgray:hover {
    /* border: 1px solid blueviolet; */
    box-shadow: 0px 0px 1px 1px silver;
    color: silver;
}

.button-darkgray:active {
    background: linear-gradient(to bottom right, darkgrey 0%, #616d62 100%);;
    padding-left: 6px;
    padding-right: 4px;
    color: black;
}

.button-darkgreen {
    padding: 3px 5px;
    box-sizing: border-box;
    border: 1px solid rgb(36, 35, 35);
    border-radius: 5px;
    background-color: #4CAF50;
    color: whitesmoke;
    user-select: none;
    cursor: default;
}

.button-darkgreen:hover {
    /* border: 1px solid blueviolet; */
    box-shadow: 0px 0px 1px 1px silver;
    color: black;
}

.button-darkgreen:active {
    background: linear-gradient(to bottom right, darkgrey 0%, #4CAF50 100%);;
    padding-left: 6px;
    padding-right: 4px;
}

.button-darkgreen-confirm-block {
    padding: 1px 3px;
    box-sizing: border-box;
    border: 1px solid rgb(36, 35, 35);
    border-radius: 5px;
    background-color: #4CAF50;
    color: whitesmoke;
    user-select: none;
    cursor: default;
    font-size: 0.9em;
}

.button-darkgreen-confirm-block:hover {
    /* border: 1px solid blueviolet; */
    box-shadow: 0px 0px 1px 1px silver;
    color: black;
}

.button-darkgreen-confirm-block:active {
    background: linear-gradient(to bottom right, darkgrey 0%, #4CAF50 100%);;
    padding-left: 4px;
    padding-right: 2px;
}

.button-darkred {
    padding: 3px 5px;
    box-sizing: border-box;
    border: 1px solid rgb(36, 35, 35);
    border-radius: 5px;
    background-color: #af4c54;
    color: whitesmoke;
    user-select: none;
    cursor: default;
}

.button-darkred:hover {
    /* border: 1px solid blueviolet; */
    box-shadow: 0px 0px 1px 1px silver;
    color: black;
}

.button-darkred:active {
    background: linear-gradient(to bottom right, darkgrey 0%, #af4c54 100%);;
    padding-left: 6px;
    padding-right: 4px;
}

.button-darkred-confirm-block {
    padding: 1px 3px;
    box-sizing: border-box;
    border: 1px solid rgb(36, 35, 35);
    border-radius: 5px;
    background-color: #af4c54;
    color: whitesmoke;
    user-select: none;
    cursor: default;
    font-size: 0.9em;
}

.button-darkred-confirm-block:hover {
    /* border: 1px solid blueviolet; */
    box-shadow: 0px 0px 1px 1px silver;
    color: black;
}

.button-darkred-confirm-block:active {
    background: linear-gradient(to bottom right, darkgrey 0%, #af4c54 100%);;
    padding-left: 4px;
    padding-right: 2px;
}

.header-subblock {
    min-width: 350px;
    /* border: orange solid 1px; */
    border-color: orange;
    display: inline-block;
    vertical-align: top; /* Corrige el desfase vertical de bloques inline-block */
}

#header-subblock-2 {
    padding: 2px;
    min-width: min-content;
    border-color: chartreuse;
    /* position: relative;
    left: 5%; */
    /* border: red solid 1px; */
    margin-left: 10%;
}

#header-subblock-3 {
    width: 50px;
    border-color: brown;
    display: inline-block;
    /* position: relative;
    left: 5%; */
    /* text-align: right; */
    padding: 2px;
    margin: 2px;
}

#hide-header-subblock-3 {
    /* border: brown solid 1px; */
    border-color: brown;
    border-radius: 5px;
    text-align: left;
}

#header-schedule-options-2 {
    margin-top: 15px;
    min-width: 39rem;
    /* border: solid 1px; */
    border-color: chartreuse;
    text-align: end;
    /* padding-right: 15px; */
    box-sizing: border-box;
}

#options, #new-block, #clean-blocks, #import-export {
    vertical-align: middle;
    height: 40px;
    /* margin: 0 10px; */
}

#options {
    position: relative;
    right: 10px;
}

#new-block {
    height: 35px;
    padding: 2.5px;
}

/* #new-block:hover {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
} */

#delete-schedule {
    vertical-align: middle;
    height: 20px;
    padding: 10px;
}

#delete-all-schedules {
    vertical-align: bottom;
    height: 30px;
    /* margin-right: 20px; */
    /* padding: 10px 5px 0 5px; */
    padding-top: 10px;
}

#advanced-options {
    height: 30px;
    /* vertical-align: bottom; */
    padding: 5px 0;
}

#advanced-options:hover {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
}

.icon-button {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    margin: 0 10px;
}

.icon-button:hover {
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(to top, #9aa2eb 0%, cornflowerblue 100%);
}

.icon-button:active {
    background: linear-gradient(to top, #d6d2d2 0%, cornflowerblue 100%);
}

.icon-button-image:active {
    position: relative;
    left: 1px;
}

#options:active {
    top: 1px;
}

h2 {
    /* font-family: OpenSans-Bold; */
    font-size: 24px;
    font-weight: bolder;
    display: inline-block;
    position: relative;
    bottom: 10px;
}

#welcome {
    margin: 10px 0 10px 50px;
    height: 33px;
    width: min-content;
    /* display: inline-block; */
    font-weight: bold;
    font-size: 167%;
    min-width: 176px;
    vertical-align: top;
}

.header-text {
    font-weight: bold;
    font-size: large;
}

#header-users {
    /* display: inline-block; */
    vertical-align: bottom;
    width: max-content;
    /* vertical-align: middle; */
    margin: 10px 0;
    margin-left: 50px;
}

#user-name {
    margin-bottom: 6px;
}

/* #test {
    position: relative;
    top: 6px;
    margin: 0 auto;
    width: 78em;
    padding: 0 12px;
    border: black solid 1px;
} */

/* #user-name, #name-h, .header-text, .header-label, .header-inputs {
    border: groove 1px gray;
} */


#header-inputs-1 {
    margin-top: 4px;
}

#header-inputs-2 {
    margin-bottom: 4px;
}

.header-button, .header-label {
    /* background-color: cornflowerblue; */
    font-size: medium;
    font-weight: bold;
    color: black;
}

.header-inputs {
    padding: 2px;
}

.header-input {
    width: 122px;
    /* margin-left: 180px; */ /* si el bloque de inputs está debajo de los botones */
}

/* #delete-all {
    display: inline-block;
    border-color: chartreuse;
    width: fit-content;
    margin-right: 5px;
} */

#blocks-container {
    /* display: flexbox; */
    /* border: chocolate 2px solid; */
    /* width: 100%; */
    
    margin: 2px auto;
        /* para que el efecto de centrado horizonatal del atributo 'auto' surta efecto, hay que ajustar el tamaño del contenedor al ancho de dos bloques */
    width: 78.3em;
    padding-top: 112.5px;
         /* habilitado si "header" posee position fixed */
}

.block {
    width: 39rem;
    border: darkorchid solid 1px;
    background: peachpuff;
    display: inline-block;
    /* padding-bottom: 1.35em; */
    /* max-height: 20rem; */
    /* min-height: 20rem; */
    vertical-align: top;
         /* Corrige el desfase vertical de bloques inline-block */
}

.block-advanced-options {
    /* border: brown solid 1px; */
    height: 2em;
    border-radius: 5px;
    margin: 5px 10px 0 45px;
    padding: 1px;
    text-align: end;
    display: flex;
    justify-content: space-between;
}

.blockAdvancedPrimaryContainer {
    border-color: blueviolet;
    display: inline-block;
    height: 32px;
    width: 90%;
}

.hideOptionsIconsContainer {
    border-color: red;
    /* border: solid 1px; */
    /* background-color: whitesmoke; */
    border-radius: 5px;
    height: 100%;
    text-align: left;
}

.block-advanced-icons-containers {
    /* background-color: whitesmoke; */
    height: 30px;
    width: 30px;
    /* border: solid 1px; */
    border-radius: 5px;
    display: inline-block;
    margin-right: 5%;
}

.icon-button-options {
    height: 30px;
    border-radius: 5px;
}

.icon-button-options:hover, .block-advanced-icons-containers:hover {
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(to top, #9aa2eb 0%, peachpuff 100%);
}

.icon-button-options:active, .block-advanced-icons-containers:active {
    position: relative;
    right: 1px;
    background: linear-gradient(to top, #9aa2eb 0%, cornflowerblue 100%);
}

.block-advanced-icons-containers:active {
    left: 1px;
}

.config-button-block, .icon-button-block, .copy-button-block {
    height: 30px;
}

.config-button-block:hover {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
}

.manageContainer {
    border-color: yellow;
    height: max-content;
    margin-top: 4px;    
}

.labelMove, .labelCopy {
    margin: 0 5px;
}

.copyButtonContainer {
    margin: 0 5px;
}

/* .confirmText {
    font-size: 0.9em;
    font-weight: bold;
} */

.confirmButtonContainer {
    margin-left: 5px;
}


.block-counter {
    display: flex;
    align-items: center;
    /* border: brown solid 1px; */
    border-radius: 5px;
    height: 1.35em;
    margin: 5px 10px 5px 45px;
    padding: 1px;
    /* color: darkgreen; */
}

.titleNumber {
    position: relative;
    /* left: 2px; */
    right: 2em;
    text-align: right;
    font-weight: bolder;
    /* border: solid black 1px; */
    width: 1.5em;
    color: peachpuff;
    padding-right: 10px;
    /* line-height: 25px;     */
}

.title {
    /* padding-left: 20px; */
    margin: 12px 10px 12px 45px;
    height: 23px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* border: solid black 1px; */
}

h3.title-description {
    font-size: 18px;
    font-weight: bolder;
    margin-left: 2px;
    padding-left: 4px;
    line-height: 25px;
    position: relative;
    right: 2em;
}

input.title-i {
    margin-left: 20px;
    position: relative;
    right: 3em;
}

.button-edit-t {
    position: relative;
    right: 3em;
}



ol {
    /* height: 20rem; */
    margin-bottom: 20px;
    margin-left: 45px;
}

li {
    height: 1.35em;
    display: flex;
         /*this attribute hides list-style */
    align-items: center;
    margin: 2px 0;
    /* padding: 1px 0; */
    margin-right: 10px;
    border: darkgrey 0.5px groove;
    border-radius: 5px;
}

li:hover, .title:hover {
    cursor: url('data:image/x-icon;base64,AAACAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAAhYWFAPqv6ADgm4sASkpKAJ/l7QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEiIAAAAAAAAAAAAAAAAAAxEiIAAAAAAAAAAAAAAAADMxEgAAAAAAAAAAAAAAAAMzMxAAAAAAAAAAAAAAAAAzMzMAAAAAAAAAAAAAAAADMzMwAAAAAAAAAAAAAAAAMzMzAAAAAAAAAAAAAAAAAzMzMAAAAAAAAAAAAAAAADMzMwAAAAAAAAAAAAAAAABTMzAAAAAAAAAAAAAAAAAFVTMAAAAAAAAAAAAAAAAABFVQAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///////////////////////////////////////////////////////////////////////////////////////P////h////wP///4H///8D///+B////A////gf///wP///4H///+D////B////w////8///////////////w=='), auto;
    background-color: lightcoral;
    font-weight: bolder;
}

.titleNumber:hover {
    color: rgb(129, 123, 123);
    cursor: default;
    font-weight: bolder;
    cursor: url('data:image/x-icon;base64,AAACAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAAhYWFAPqv6ADgm4sASkpKAJ/l7QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEiIAAAAAAAAAAAAAAAAAAxEiIAAAAAAAAAAAAAAAADMxEgAAAAAAAAAAAAAAAAMzMxAAAAAAAAAAAAAAAAAzMzMAAAAAAAAAAAAAAAADMzMwAAAAAAAAAAAAAAAAMzMzAAAAAAAAAAAAAAAAAzMzMAAAAAAAAAAAAAAAADMzMwAAAAAAAAAAAAAAAABTMzAAAAAAAAAAAAAAAAAFVTMAAAAAAAAAAAAAAAAABFVQAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///////////////////////////////////////////////////////////////////////////////////////P////h////wP///4H///8D///+B////A////gf///wP///4H///+D////B////w////8///////////////w=='), auto;
}


/* input, button { */
    /* max-height: 0.6rem; */
    /* overflow-y: auto; */
    /* position: relative;
    bottom: 5px; */
/* } */

.description, .description-checked {
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding-top: 2px;
    height: 1.35em;
    position: relative;
    right: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.description-checked {
    color: rgb(129, 123, 123);
    font-weight: bold;
}

.check, .checkall {
    margin-right: 10px;
    border: 1px solid black;
    height: 1em;
    min-width: 1em;
    display: inline-block;
    border-radius: 5px;
    margin-left: 2px;
}

.checkallcontainer {
    margin-right: 10px;
    width: 1.3em;
    height: 1.3em;
    /* display: flex; */
    /* align-items: center; */
    /* border: 1px solid red; */
}

.checkall {
    border: 2px solid darkgrey;
    margin-right: 0;
    margin-left: 0;
}

.checkall:hover {
    border: 1px solid black;
    position: relative;
    left: 1px;
    cursor: default;
}

.checkcounter {
    /* border: 1px solid black; */
    width: 70px;
    height: 1em;
    font-size: 0.8em;
    /* width: 1em; */
}

.span1, .span2, .span3 {
    display: inline-block;
    min-width: 20px;
    vertical-align: middle;
    /* border: 1px solid red; */
}
 .span1 {
     text-align: end;
     padding-right: 4px;
 }
.emptyspace {
    width: 26em;
    /* border: 1px solid black; */
}

.percentage {
    /* border: 1px solid black; */
    width: 70px;
    text-align: end;
}

/* .button-edit, .button-delete .input-description {
    position: relative;
    right: 4em;
} */

.input-description, .button-edit {
    position: relative;
    right: 2em;
}

.check:hover {
    background-color: brown;
    cursor: default;
}

.check:active {
    /* background-color: violet; */
    top: 1px;
    cursor: default;
}

.descriptionNumber {
    position: relative;
    right: 4em;
    text-align: right;
    /* border: solid black 1px; */
    width: 1.5em;
    color: peachpuff;
    padding-right: 9px;
    /* line-height: 25px;     */
}

/* .descriptionNumber:hover {
    background-color: peachpuff;
    color: black;
    cursor: default;
} */